apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-nginx-config
  namespace: abdelhamid-ns
data:
  default.conf: |
    server {
        listen 80;

        location / {
            root /usr/share/nginx/html;
            index index.html;
            try_files $uri $uri/ =404;
        }

        location /api/ {
            proxy_pass http://backend-service.abdelhamid-ns.svc.cluster.local:3000;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }


# try_files $uri /index.html;