apiVersion: v1
kind: ConfigMap
metadata:
  name: frontend-nginx-config
  namespace: abdelhamid-ns
data:
  nginx.conf: |
    server {
        listen 80;

        location /health {
            access_log off;
            return 200 'OK';
            add_header Content-Type text/plain;
        }

        location / {
            root /usr/share/nginx/html;
            index index.html;
            # try_files $uri $uri/ =404;
            try_files $uri $uri/ /index.html;
        }

        location /api/ {
            proxy_pass http://backend-service:3000;
            proxy_set_header Host $host;
            proxy_set_header X-Real-IP $remote_addr;
        }
    }